/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

.mainContainer {
  background-color: white;
  padding: 0 3%;
  width: calc(100% * 2/3);
  box-shadow: 0 0 2px 2px #999;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "nav1"
    "article"
    "preFooter"
    "footer";
}
