/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

.mainContainer {
  background-color: white;
  padding: 0 3%;
  width: calc(100% * 2 / 3);
  box-shadow: 0 0 2px 2px #999;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "nav1"
    "article"
    "preFooter"
    "footer";
}
.header { grid-area: header; }

.headerTop {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
  align-items: center;
}

.teachinderLabel {
  font: bold 40px "Times New Roman", Times, serif;
  color: white;
  text-shadow: -1.3px -1px 0 #f76f5f, 2px 1.3px 0 #585a58;
}

.teachinderLabel:hover {
  text-shadow: -3px -1px 0 #f76f5f, 3px 1.3px 0 #000;
  color: #eaecef;
}

.without-bac {
  background: none;
  color: #f65f44;
  font-family: "Arial", Harrington, serif;
  font-size: large;
  font-weight: bold;
  border: none;
}

.without-bac:hover {
  color: #c94834;
}

.header-right {
  width: 40%;
  display: flex;
  justify-content: end;
}

input[type="text"] {
  height: 4vh;
  font-size: smaller;
  margin-right: 2%;
}
input[type="text"]:hover { width: 100%; }

input[type="text"]:focus {
  width: 100%;
  outline: none;
}

nav ul {
  display: flex;
}

nav li {
  padding-right: 4%;
}

select {
  height: 4vh;
  font-family: "Ebrima", "Arial Black", sans-serif;
  border-color: darkgrey;
  margin-left: 2vh;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 2% 0;
  color: #acaaa3;
  font-family: "Arial", "Newton Phonetic ABBYY", serif;
  font-size: small;
  font-weight: 500;
}

.option {
  display: -webkit-inline-box;
  margin-left: 2vh;
  padding-bottom: 2vh;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-items: center;
}

.photoSection {
  display: grid;
  grid-template-columns: repeat(5, 12vw);
  justify-content: center;
}

.accountTeacher {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Avignon Pro Medium", Arial, serif;
  position: relative;
}

.slide {
  display: inline-block;
  align-items: center;
  font-family: "Avignon Pro Medium", Arial, serif;
  position: relative;
  margin: 0 1vw;
}

.cycle-photo {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vh solid #f29685;
  position: relative;
  color: #f29685;
}

.without-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite::before {
  content: "";
  background-image: url(/src/images/gold-star.png);
  background-size: cover;
  width: 22%;
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 70%;
  z-index: 1;
}

.name-teacher {
  font-family: "Avignon Pro Medium", Arial, serif;
  font-weight: 600;
}

.subject {
  font-size: smaller;
  color: #999;
}

.country {
  font-size: small;
  color: dimgrey;
  margin-bottom: 2vh;
}

.imgClass {
  width: 100%;
  height: auto;
}
.imgClass:hover { transform: scale(1.2); }

.cycle-photo:hover {
  border-color: #b23424;
  color: #b23424;
}
.dots { color: black; }

.title {
  color: black;
  font-family: "Arial", "Newton Phonetic ABBYY", serif;
  font-weight: bold;
  font-size: x-large;
}

.hr-style {
  display: flex;
  justify-content: center;
}

hr {
  height: 1vh;
  width: 55%;
  border: none;
  border-top: 1px solid #000;
}

table {
  width: 100%;
  font-family: "Bahnschrift Light", Arial, serif;
  margin-top: 3vh;
}

th,
tr {
  font-family: "Bahnschrift Light", Arial, serif;
}

th {
  position: relative;
  padding: 1% 0;
}
tr { padding-top: 5px; }

tr:nth-child(even) { background-color: #f8f3f9; }

th:hover {
  border-bottom: 3px solid black;
  background-color: #f8f8f8;
}

.arrow-bottom {
  position: absolute;
  visibility: hidden;
  width: 20px;
  height: 21px;
}

.arrow-top {
  position: absolute;
  visibility: hidden;
  width: 20px;
  height: 21px;
  transform: rotateX(180deg);
}
th:hover .arrow-bottom { visibility: visible; }

thead { border-bottom: 0.2vh solid black; }

.standard-button {
  color: #f75c48;
  font-family: "Arial", Harrington, serif;
  background-color: white;
  height: 4vh;
  border: 1px solid #f75c48;
  font-weight: bold;
}

.standard-button:hover {
  color: whitesmoke;
  font-family: "Arial", Harrington, serif;
  background-color: #f75c48;
  height: 4vh;
  border: none;
}

.borderBetween {
  width: 1px;
  height: 120%;
  background-image: linear-gradient(to bottom, #000 50%, transparent 50%);
  background-size: 100% 4px;
  background-repeat: repeat-y;
  margin: 0 0 0 2vh;
  border: none;
  opacity: 60%;
}

.nav {
  grid-area: nav;
}

.article {
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
}

.name-in-table {
  float: left;
}

.preFooter {
  grid-area: preFooter;
  overflow: hidden;
}

.table-buttons {
  background: none;
  border: none;
  float: left;
}

.last {
  background: none;
  border: none;
  float: left;
}

.dots {
  background: none;
  border: none;
  float: left;
}

.hidden {
  visibility: hidden;
}

.active {
  color: black;
}

.notActive {
  color: #2199a9;
}

.preFooter-Teacher {
  display: grid;
  grid-template-columns: repeat(5, 12vw);
  margin: 3vh 0;
}

.ul-footer {
  /* //float: left; */
  list-style: none;
  position: relative;
  width: 192px;
  margin-right: 1px

  /* //margin-left: -350px; */
}

.li-footer {
  /* display: inline-block; */

  /* position: relative; */

  float: left;
  list-style: none;
  position: relative;
  width: 192px;
  margin-right: 1px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.button-left {
  bottom: 20%;
  position: absolute;
  background-image: url("/src/images/arrow-white.png");
  background-size: cover;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 3%;
  height: 30%;
  left: -1.3%;
  z-index: 5;
}

.button-right {
  position: absolute;
  transform: rotate(180deg);
  background-image: url("/src/images/arrow-white.png");
  background-size: cover;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 3%;
  height: 30%;
  right: -1.3%;
  bottom: 20%;
}

.button-left:hover {
  background-image: url("/src/images/arrow-black.png");
  width: 3%;
  left: -1.3%;
}

.button-right:hover {
  background-image: url("/src/images/arrow-black.png");
  width: 3%;
  right: -1.3%;
}

.footer {
  grid-area: footer;
  font-family: "Arial", Harrington, serif;
  text-align: left;
  margin-bottom: 3vh;
}

.styled-image {
  bottom: 25%;
  left: 20%;
  color: inherit;
  padding: 5px;
  font-family: "Avignon Pro Medium", Arial, serif;
  font-weight: bold;
  font-size: 3vw;
}

.slides {
  display: flex;
  transition: transform 0.4s ease;
  width: 100%;
}

.slider-track {
  width: 100%;
  overflow: hidden;
}

/* teacher-info-popup css => */

.teacher-info-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 2px 2px #31373d;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнення з напівпрозорістю */
  display: none;
  z-index: 5;
}

.teacher_bac {
  display: grid;
  grid-template-areas:
    "top"
    "article"
    "footer";
  margin: 25vh 30vw;
  height: 50vh;
  width: 35vw;
}

.footer_popup {
  grid-area: footer;
  padding: 2%;
  background-color: #f8f3f9;
  text-align: start;
  font-family: "Arial", "Newton Phonetic ABBYY", serif;
}

.top {
  grid-area: top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454547;
  color: #878787;
}

.teacher-info-article {
  position: relative;
  grid-area: article;
  display: grid;
  padding: 2%;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f8f3f9;
}

.star-popup {
  position: absolute;
  width: 40px;
  left: 90%;
  top: 12px;
  cursor: pointer;
}

.teacher-info-title {
  color: #f8f3f9;
  padding: 2%;
  font-weight: 200;
  font-size: medium;
}

.p_info {
  font-weight: bold;
  font-size: 1.2em;
}

.p_info2 {
  color: #4ab8b9;
}

.name_teacher_info {
  padding: 10% 0;
  font-family: "Arial", "Newton Phonetic ABBYY", serif;
  font-size: x-large;
  font-weight: 500;
}

.cancel-button {
  background: none;
  color: white;
  font-size: x-large;
  border: none;
}

a {
  text-decoration: none;
  color: #86b5c9;
  background-color: transparent;
  border-bottom: 3px dotted #86b5c9;
}

.info {
  display: flex;
  flex-direction: column;
  font-family: "Arial", "Newton Phonetic ABBYY", serif;
  align-items: flex-start;
  margin-top: -5%;
  width: min-content;
}

/* add-teacher-popup style */
.add-teacher-popup {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 2px 2px #31373d;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнення з напівпрозорістю */
  display: none;
}

#div-add-teacher-popup {
  margin: 6vh 30vw;
}

#enterName {
  width: 100%;
}

.addToFav {
  position: absolute;
  float: right;
  background-image: url(/src/images/emptyStar.png);
  background-size: cover;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  left: 87%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Arial", "Niagara Engraved", serif;
  color: #585a58;
  padding: 4%;
  background-color: white;
}

form > * {
  margin-top: 1.5vh;
  margin-left: 0;
}

textarea {
  width: 100%;
  height: 15vh;
}

input[type="date"],
input[type="tel"],
input[type="email"] {
  height: 4vh;
  width: 100%;
}

.bottom {
  font-weight: normal;
}

.option:hover {
  color: black;
}

.notActive:hover {
  color: #2c787a;
}

.section-country {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: left;
}

#enter-name,
#city,
#phone {
  width: 100%;
}

#speciality {
  margin-left: 0;
  width: 100%;
  height: 4vh;
}

#country {
  margin-left: 0;
}

.add-teacher-popup-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.add-teacher-popup-sex {
  margin-right: 10%;
}

@media (max-width: 830px) {
  .teacher-info-popup {
    width: calc(120% * 2 / 3);
  }

  .star-popup {
    left: 85%;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    width: calc(120% * 2 / 3);
  }

  .cycle-photo {
    width: 12vw;
    height: 12vw;
  }

  .photoSection {
    grid-template-columns: repeat(5, 14vw);
  }

  .preFooter-Teacher {
    /* display: inline-block; */
    grid-template-columns: repeat(5, 14vw);
  }

  .teacher-info-popup {
    width: calc(120% * 2 / 3);
  }
}

@media (max-width: 730px) {
  .lebel-tescherL {
    margin-right: 8%;
  }

  .name-teacher {
    font-size: smaller;
  }

  .add-teacher-popup {
    width: calc(110% * 2 / 3);
  }
}

@media (max-width: 484px) {
  .addTeacherB {
    height: 5vh;
  }

  input[type="text"] {
    width: 40%;
  }
}

@media (max-width: 630px) {
  table {
    font-size: smaller;
  }

  .mainContainer {
    width: calc(140% * 2 / 3);
  }

  .photoSection {
    grid-template-columns: repeat(3, 26vw);
  }

  .favorite::before {
    left: 65%;
    width: 18%;
  }

  .preFooter-Teacher {
    grid-template-columns: repeat(5, 16vw);
    font-size: smaller;
  }

  .cycle-photo {
    width: 15vw;
    height: 15vw;
  }

  .teacher-info-article {
    grid-template-columns: repeat(1, 0fr);
  }
}

@media (max-width: 500px) {
  .teachinderLabel {
    font-size: 30px;
  }

  .name-teacher {
    font-size: smaller;
  }

  .without-bac {
    font-size: smaller;
  }

  ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 335px) {
  body {
    overflow: scroll;
    min-width: 330px;
  }

  .photoSection {
    grid-template-columns: repeat(3, 80px);
  }

  .cycle-photo {
    width: 44px;
    height: 44px;
  }

  .without-photo {
    font-size: 20px;
  }

  .preFooter-Teacher {
    grid-template-columns: repeat(5, 57px);
  }
}

.star_button {
  width: 150px; /* Задайте ширину та висоту кнопки відповідно до розміру фотографії */
  height: 50px;
  background-image: url("src/images/gold-star.png"); /* Задайте шлях до вашої фотографії */
  background-size: cover; /* Масштабувати фотографію, щоб вона вкладалася в розмір кнопки */
  background-position: center; /* Розмістити фотографію по центру кнопки */
  color: #fff; /* Задайте колір тексту кнопки, якщо він має бути видимим на фоні */
  border: none; /* Видалити границю кнопки (по бажанню) */
  cursor: pointer;
}
